[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = programme to say hello
[access "refs/*"]
	owner = group user/dhanasekaran26
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dhanasekaran26
	label-Verified = -1..+1 group user/dhanasekaran26
	push = group user/dhanasekaran26
	read = group user/dhanasekaran26
	rebase = group user/dhanasekaran26
	removeReviewer = group user/dhanasekaran26
	submit = group user/dhanasekaran26
[access "refs/heads/*"]
	create = group user/dhanasekaran26
	push = +force group user/dhanasekaran26
	pushMerge = group user/dhanasekaran26
	read = group user/dhanasekaran26
[access "refs/tags/*"]
	push = group user/dhanasekaran26
	push = +force group user/dhanasekaran26
